*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#242424;
}
body{
    background-color: #00000004;
}
img{
    height: 100%;
}

/* utilities */

.container{
    padding:35px;
}
input[type=radio]{
    display: none;
}
.btn{
    border: none;
    border-radius: 5px;
    background: #eb2e2e;
    color: white;
    height: 28px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.red{
    color:#eb2e2e;
}

.light-grey{
    color: #5c5c5c;
}

.white{
    color:white;
}
h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 22px;
}

p{
    font-size:16px;
}
label{
    font-size: 22px;
    cursor: pointer;
}

.close{
    position: absolute;
    right: 10px;
    top:5px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.input__text{
    height:25px;
    border:solid #242424 1px;
    border-radius: 5px;
    padding:2px;
}

.input__text:focus{
    outline: none;
    border: 2px solid #eb2e2e;
    
}
input:disabled{
    color: #5c5c5c;
    border: none;
    background-color: transparent;
}
.hidden{
    color: transparent;
}
/* login section */
.login{
    width:100%;
    height:80vh;
    display:flex;
    /* display:none; */
    justify-content: center;
    align-items: center;
}
.login h1{
    text-align: center;
}
.login > .container{
    border: #eb2e2e solid 2px;
    border-radius: 5px;
    
    background-color:white;
}
.login > .flex-column{
    height: 80%;
    width: 80%;
    gap: 20px;
    justify-content: center;
}
.login > form > .flex-row{
    justify-content: space-between;
    align-items: center;
}
/* sign up */
.signup{
    height: 100vh;
    width: 00%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 20px solid #eb2e2e;
    border-right: white;
    position: absolute;
    top: 0;
    right: 0;
    transition: width 1.5s;
    background-color: white;
    z-index: 10;
}

.signup form{
    /* position: relative; */
    height: 100%;
}

.signup__location > div  label{
    font-size: 15px;
}

.signup__location > div .btn{
    height: 100%;
    width:100%;
}

.signup__location > .flex-row{
    justify-content: space-between;
    gap:15px;
}

.signup__location > .flex-row> .flex-column:nth-child(2){
    flex-grow:1;
}

input[type=radio]:checked + label {
    color: #eb2e2e;
    border: #eb2e2e 1px solid;
    border-radius: 5px;

  } 

.radio-div .flex-row{
    justify-content: start;
    gap:20px;
}

.signup .btn{
    width: 100%;
    height: 40px;
}
/*  header */
header{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #eb2e2e;
}
header  * {
    color: inherit;
    cursor: pointer;
}

header ul{
    list-style: none;
    justify-content: space-between;
    gap:5px;
    width:120px;
}
/* profile section */
.profile >form{
    margin:auto;
    width:400px;
}
/* media queries */
@media screen and (min-width:700px) {

    .login > .flex-column{
        height: 70%;
        width: 50%;
        gap: 20px;
        justify-content: center;
    }
    
}